a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(86, 129, 248);
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  body {background-color: rgba(237, 253, 255, 0.795);}
h1   {
    color: rgb(0, 0, 0);
    font-family: 
}
p    {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, Sans-serif;
}
p1    {color: red;}

# 교수님 코드
 # body {
  background-color: rgb(186, 243, 189);
  font-family: Dokdo;
  
}
h1   {
  font-family: "Sofia", sans-serif;
  color: blue;
}
h2   {color: green;}
p    {
  color: red;
  font-size: 50px;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}